:root {
  --bg-color-game: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0; 
  padding: 0; 
  &, &::before, &::after { box-sizing: border-box; }
}

body{
  margin: 0;
  padding: 0;
  //display: grid;
  //place-content: center;
  height: 100vh;
}

input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

.container {
  width: 100%;
  padding: 1rem; 
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
  
  @media (min-width: 640px) {
    max-width: 640px;
  }
  
  @media (min-width: 768px) {
    max-width: 768px;
  }
}

.min-h-screen{
  min-height: 100vh;
}

.game{
  background-color:var(--bg-color-game);

  & header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
}

section{
  
  &.init-screen{
    background-color: #000;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    font-size: 48px;
    place-content: center;
    z-index: 10;
  }

  &.game-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }

  &.score{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }

  &.buttons-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1em;
    & button{
      width:100%;
      border-radius: 5px;
    }
  }
}